//Variables
$profile1: url("/images/png/human.png");
$blue: #6696E2;
$green: #41D395;
$coral: #E27866;
$peach: #e07964;
$nav: #1C1C1C;

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }