@media (max-width: 426px) {

    header{
        nav .nav-container{
            margin: 0px;
            width: 100%;
            gap: 200px;

            .navigation {
                position: absolute;
                left: 0;
                top: 50px;
                background: black;
                width: 100%;
                height: 215px;
                align-items: center;
                flex-direction: column;
                transform: translateY(-240px);
                z-index: -1;
                /* padding: 30px; */
            }

            .navigation a.burgerMenu {
                float: right;
                display: block;
            }
        
            .navigation.translate {
                transform: translateY(0px);
                transition: 0.3s;
            }
            .navigation{
                gap: 0px;
            }
        }
    }

    .section-1{
        flex-direction: column;
        justify-content: center;
        height: 1000px;
        
        .container-text{
            height: 350px;
            margin-top: 0px;
            margin-left: 60px;
            img{
                margin-top: 0px;
            }
        }

        .form{
            margin-left: 60px;
            margin-top: 10px;
        }
    }

    .section-2{
        height: 180px;
        flex-direction: column;
        .icons{
            margin-top: 10px;
        }
    }

    .section-3{
        flex-direction: column;
        height: 700px;
        .tabs{
            margin-top: 10px;
            flex-direction: row;
        }
        .features{
            width: 400px;
            margin-top: 10px;
        }
        .explore{
            margin-top: 30px;
            width: 400px;
            margin-left: 0px;
            margin-right: 50px;
            justify-content: center;
        }
    }

    .section-4{
        height: 700px;
        .container{
            height: 80%;
            flex-direction: column;
            .logo{
                img{
                    height: 100px;
                    width: 200px;
                    margin: 0px 50px 0px 50px;
                }
            }

            .rename-later2{
                .rename-later{
                    width: 350px;
                    margin-left: 40px;
                    margin-top: 20px;
                    h2{
                        font-size: medium;
                        width: 350px;
                        height: 40px;
                        margin-top: 10px;
                        margin-left: 0px;
                    }
                    img{
                        margin-left: 0px;
                    }
                    p{
                        font-size: small;
                        width: 400px;
                        margin-left: 0px;
                    }
                }
                .eyeicon{
                    width: 300px;
                    margin-left: 50px;
                    margin-top: 80px;
                    .title-1{
                        p{
                            width: 250px;
                        }
                    }
                }
                .chatbubble{
                    width: 300px;
                    margin-left: 50px;
                    margin-top: 120px;
                    .title-2{
                        p{
                            width: 250px;
                        }
                    }
                }
            }
        }
    }

    .section-5{
        height: 900px;
        .section-5-cont{
            h1{
                font-size: medium;
            }
            img{
                margin-top: 10px;
            }
            p{
                margin-top: 10px;
            }
        }
        .elipse{
            justify-content: center;
            margin-left: 70px;
            margin-right: 100px;
            width: 400px;
            gap: 10px;
            flex-direction: column;

            .icon-1{
                width: 250px;
                height: 200px;
            }
            .icon-2{
                width: 250px;
                height: 200px;
            }
            .icon-3{
                width: 250px;
                height: 200px;
            }
        }
    }

    .section-6{
        height: 1600px;
        .options {
            flex-direction: column;
        }
    }

    .section-7{
        .customers{
            h1{
                font-size: medium;
            }
            img{
                margin-top: 5px;
            }
        }

        .swiper{
            padding-top: 30px;
            padding-left: 120px;
            height: 300px;
            .swiper-wrapper{
                flex-direction: column;

            }
        }

        .swiper .swiper-wrapper .swiper-card .arrow{
            &::before {
                top: 65%;
            }
        }

        .swiper .swiper-wrapper .swiper-card .arrow-smaller{
            &::before {
            top: 48%;
            }
        }
    }

    footer{
        .socials{
            margin-top: 50px;
            margin-left: 5px;
            i {
                margin: 5px 10px 5px 10px;
            }
        }
    }
}