@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  background: #1C1C1C 0% 0% no-repeat padding-box;
  width: 1400px;
  height: 72px;
  opacity: 1;

  img {
    margin-top: 10px;
    margin-left: 147px;
    width: 119px;
    height: 52px;
  }

  .navigation {
    margin-top: 26px;
    margin-right: 147px;
    overflow: auto
  }

  .navigation a {
    text-decoration: none;
    padding: 20px;
    letter-spacing: 0px;
    color: rgb(159, 157, 157);
    text-align: right;
    opacity: 1;
  }

  .navigation a:hover {
    border-bottom: 3px solid #E27866;
    width: 64px;
  }

  .navigation a.active {
    border-bottom: 3px solid #E27866;
    color: white;
    transition: 0.2s;
  }
}

.section-1 {
  display: flex;
  width: 1400px;
  height: 639px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, rgba(28, 28, 28, 0.76), rgba(28, 28, 28, 0.36)), url(/images/png/photo-1480714378408-67cf0d13bc1b@2x.png);
  background-size: cover;
  position: relative;
  opacity: 0.9;

  img {
    margin-top: 138px;
    margin-left: 150px;
    width: 247px;
    height: 108px;
  }

  .divider {
    margin-top: 10px;
    margin-left: 150px;
    width: 84px;
    height: 22px;
  }

  h1 {
    text-align: left;
    color: white;
    font-size: 2em;
    margin-top: 15px;
    margin-left: 150px;
    width: 426px;
    height: 87px;
  }

  p {
    color: white;
    margin-top: 10px;
    margin-left: 150px;
    width: 651px;
    height: 65px;
  }

  .button-1 {
    background: transparent;
    color: white;
    margin-top: 40px;
    margin-left: 150px;
    width: 135px;
    height: 42px;
    border: 2px solid #FFFFFF;
    opacity: 1;
    font-weight: bold;
    transition: 0.3s;
  }

  .button-1:hover {
    border-color: #e07964;
    color: #e07964;
    cursor: pointer;
  }
}

.form {
  background: #FFFFFF;
  margin-top: 130px;
  margin-left: 75px;
  width: 360px;
  height: 425px;
  border-radius: 5px;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    background-color: #F5F5F5;
    height: 57px;
    border-radius: 5px 5px 0px 0px;

    span {
      margin-left: 5px;
      margin-right: 5px;
      color: #e07964;
    }
  }

  .h3-details {
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
    width: 220px;
    height: 40px;
  }

  input {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 20px;
    padding-bottom: 5px;
    padding-left: 0;
    margin-left: 60px;
    width: 250px;
  }

  .button-2 {
    background: #41D395;
    border: none;
    color: white;
    width: 360px;
    height: 57px;
    border-radius: 0 0 5px 5px;
    font-size: 1.2em;
    font-weight: 800;
    margin-top: 25px;
  }

  .radio-field {
    margin: 30px 45px 20px 45px;

    .h3-sub {
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }

  .radio-btn {
    accent-color: #41D395;
    display: inline-block;
    vertical-align: bottom;
    margin: 5px;
  }

  input:where([type="radio"]) {
    appearance: none;
    width: 10%;
    border: 1px solid #41D395;
    border-radius: 4px;
    background: #fff no-repeat center center;
    --padding: 2px;
  }

  input[type="radio"] {
    border-radius: 50%;
  }

  input:where([type="radio"]):where(:active:not(:disabled), :focus) {
    border-color: #41D395;
    outline: none;
    background: #41D395 no-repeat center center;
    box-shadow: inset 0 0 0 var(--padding) white;
  }

  .radio-labels {
    font-size: x-small;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.section-2 {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 105px;

  h2 {
    margin-top: 10px;
    margin-left: 150px;
    width: 200px;
    height: 24px;
  }

  p {
    margin-top: 10px;
    margin-left: 150px;
    width: 420px;
  }

  .icons {
    margin-top: 40px;
    width: 600px;
    height: 30px;
    color: #E27866;
    opacity: 0.65;
  }

  .icons i {
    font-size: 32px;
    width: 100px;
    height: 50px;
  }
}

.section-3 {
  display: flex;
  background-size: 100% 100%;
  background: linear-gradient(270deg,
      rgba(102, 150, 226, 0.6),
      rgba(226, 120, 102, 0.6)), url(/images/png/mountains.png);
  background-size: cover;
  width: 1400px;
  height: 595px;

  .explore {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-right: 0px;
  }

  .overlay-container {
    width: 168px;
    height: 168px;
    position: relative;
    overflow: hidden;
  }

  .overlay-container-streched {
    width: 335px;
    height: 175px;
    position: relative;
    overflow: hidden;
  }

// Overlay

  .overlay {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    background: rgba(226, 120, 102, 0.7);
  }

  .text {
    color: #fff;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 20px;
    transition: translate(-50%, -50%);
  }

  .overlay-container:hover .overlay {
    opacity: 1;
  }

  .overlay-container-streched:hover .overlay {
    opacity: 1;
  }

  .overlay-fade {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }

  #img1 {
    width: 168px;
    height: 168px;
  }

  #img2 {
    width: 168px;
    height: 168px;
  }

  #img3 {
    width: 335px;
    height: 175px;
  }

  .features {
    color: white;
    margin-top: 185px;
    margin-left: 395px;
    width: 557px;
    height: 190px;
  }

  .features h1 {
    margin-bottom: 20px;
    font-size: 2em;
  }

  .features p {
    font-size: 0.8em;
  }
}

.section-4 {
  display: flex;
  background: #1C1C1C;
  width: 1400px;
  height: 596px;

  .rename-later{
    width: 50%;
    height: 30%;
  }

  .logo img {
    margin-top: 213px;
    margin-left: 210px;
    width: 389px;
    height: 169px;
  }

  h2 {
    color: white;
    font-weight: 800;
    margin-top: 90px;
    margin-right: 767px;
    margin-left: 168px;
    width: 314px;
    height: 80px;
  }

  img {
    margin-top: 15px;
    margin-left: 168px;
    width: 200px;
    height: 2px;
  }

  p {
    color: white;
    margin-top: 20px;
    margin-left: 168px;
    width: 451px;
    height: 58px;
    letter-spacing: 0px;
    font-weight: 300;
  }

  .eyeicon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-left: 185px;
    color: white;
    width: 27px;
    height: 18px;

    .orangeye {
      background: #E27866;
      border-radius: 100%;
      padding: 20px;
      width: 50px;
      height: 50px;
    }

  }

  .title-1 {
    display: flex;

    h4 {
      margin-top: 10px;
      width: 30px;
      height: 18px;
      margin-left: 30px;
    }

    p {
      margin-left: -30px;
      margin-top: 35px;
      width: 394px;
      height: 38px;
    }
  }

  .chatbubble {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-left: 185px;
    color: white;
    width: 27px;
    height: 18px;

    .orangebubble {
      background: #E27866;
      border-radius: 100%;
      padding: 20px;
      width: 50px;
      height: 50px;
    }

    .title-2 {
      display: flex;
  
      h4 {
        margin-top: 10px;
        width: 30px;
        height: 18px;
        margin-left: 30px;
      }
  
      p {
        margin-left: -30px;
        margin-top: 35px;
        width: 394px;
        height: 38px;
      }
    }
  }
}

.section-5 {
  background: #FFFFFF;
  width: 1400px;
  height: 592px;

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 99px;
    font: normal normal 600 36px/43px Montserrat;
    color: #212121;
    font-weight: 900;
  }

  img {
    margin-top: 30px;
    margin-left: 669px;
    width: 64px;
    height: 2px;
  }

  p {
    color: #86878B;
    font: normal normal normal 14px/20px Montserrat;
    margin-top: 30px;
    margin-left: 506px;
    width: 390px;
    height: 18px;
  }

  .elipse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 110px;
  }

}